<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RobotArm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RobotArm.Properties.Settings>
            <setting name="ComPort" serializeAs="String">
                <value>AUTO</value>
            </setting>
            <setting name="X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Z" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hand" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="elbow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="shoulderTilt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="shoulderPan" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="claw" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="clawOpen" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="clawClosed" serializeAs="String">
                <value>144</value>
            </setting>
            <setting name="baseHeight" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="upperArmLength" serializeAs="String">
                <value>10.5</value>
            </setting>
            <setting name="foreArmLength" serializeAs="String">
                <value>11.8</value>
            </setting>
            <setting name="handLength" serializeAs="String">
                <value>11.5</value>
            </setting>
            <setting name="handMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="handMin" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="elbowMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="elbowMiddle" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="elbowMin" serializeAs="String">
                <value>145</value>
            </setting>
            <setting name="tiltMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tiltMax" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="firstStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="listOfMacros" serializeAs="String">
                <value />
            </setting>
        </RobotArm.Properties.Settings>
    </userSettings>
</configuration>